*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* PISKVORKY HOMEWORK NO. 1 */

body {
  background: linear-gradient(#615dad, #ffc8da) fixed;
}

.menu {
  text-align: center;
  font-family: sans-serif;
  color: white;
  font-size: 14px;
  line-height: 1.5;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-foto {
  width: 350px;
  height: auto;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}

h1 {
  color: #ffffff;
  font-family: 'Lobster', cursive;
  font-size: 40px;
  font-weight: normal;
  padding-bottom: 20px;
  text-align: center;
}

.menu-text {
  background: #283e50;
  width: 350px;
  padding: 20px;
}

/* PISKVORKY HOMEWORK NO. 1 - BUTTONS */

.menu-buttons {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-pravidla {
  border: none;
  width: 350px;
  padding: 15px;
  font-size: 14px;
  color: white;
  background-color: #1fcca4;
}

.btn-pravidla:hover,
.btn-pravidla:focus {
  background-color: #1cbb96;
}

.btn-hrat {
  border: none;
  border-top: 0.5px #283e50 solid;
  width: 350px;
  padding: 15px;
  font-size: 14px;
  color: white;
  background-color: #0197f6;
  width: 350px;
}

.btn-hrat:hover,
.btn-hrat:focus {
  background-color: #0090e9;
}

/* PISKVORKY HOMEWORK NO. 2 */

.container {
  width: 350px;
  min-width: 200px;
  margin: 50px auto;
  padding-top: 25px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  background-color: #283e50;
  color: #ffffff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.pravidla__seznam {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.5;
  padding-left: 35px;
}

li {
  padding: 0px 35px 10px 10px;
}

.icons {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}

.priklady__popisek {
  font-family: sans-serif;
  font-style: italic;
  padding: 10px 13px;
  font-size: 0.9em;
  text-align: center;
}

/* PISKVORKY HOMEWORK NO. 2 - BUTTONS */

.pravidla-buttons {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-uvod {
  border: none;
  width: 350px;
  padding: 15px;
  font-size: 14px;
  color: white;
  background-color: #1fcca4;
}

.btn-uvod:hover,
.btn-uvod:focus {
  background-color: #1cbb96;
}

/* PISKVORKY HOMEWORK NO. 2 - MEDIA */

img {
  width: 100%;
}

@media (min-width: 576px) {
  .priklady {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .priklady__obrazek {
    width: 45%;
  }
}

@media (min-width: 630px) {
  .container {
    max-width: 630px;
  }
}

/* PISKVORKY HOMEWORK NO. 3 */

.headerHra {
  font-size: 60px;
  padding-bottom: 15px;
}

.hra {
  display: flex;
  flex-direction: column;
  width: 80vmin;
  margin: 50px auto;
  color: white;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.hraContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

.hraje {
  display: flex;
}

.hrac {
  height: 1em;
  filter: invert(100%);
  margin-left: 10px;
}

/* PISKVORKY HOMEWORK NO. 3 - BUTTONS */

.btn-homepage,
.btn-restart {
  width: 50px;
  height: auto;
  padding: 10px;
  border-radius: 10px;
}

.btn-homepage {
  background-color: #1fcca4;
}

.btn-homepage:hover,
.btn-homepage:focus {
  background-color: #1cbb96;
}

.btn-restart {
  background-color: #0197f6;
}

.btn-restart:hover,
.btn-restart:focus {
  background-color: #0090e9;
}

/* PISKVORKY HOMEWORK NO. 3 - HRACI PLOCHA */

.hraciaPlocha,
.okienko {
  border: 1px solid black;
}

.hraciaPlocha {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 80vmin;
}

.okienko {
  width: 10%;
  padding-top: 10%;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  background-color: rgba(255, 252, 252, 0.384);
}

.okienko:hover,
.okienko:focus {
  background-color: rgba(255, 252, 252, 0.548);
}

.okienko:nth-child(10n) {
  flex-grow: 1;
}

/* PISKVORKY HOMEWORK NO. 4 - JS */

.hraciaPlocha--circle {
  background-image: url(pravidla_pics/circle.svg);
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
  animation-name: gradual-growth;
  animation-duration: 0.15s;
}

.hraciaPlocha--cross {
  background-image: url(pravidla_pics/cross.svg);
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
  animation-name: gradual-growth;
  animation-duration: 0.15s;
}

@keyframes gradual-growth {
  0% {
    background-size: 0%;
  }
  100% {
    background-size: 65%;
  }
}
